<% #Jean-Yves Denoncourt 9977949   2020/11/13 %>

<%= link_to 'logout', destroy_user_session_path, method: :delete %> <br/>

<h1> Section admin </h1>

<%= link_to "Liste recettes en admin", "/admin/recettes" %>


